*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
}

.navbar{
    background-color: rgb(44, 42, 42);
}

.nav-link{
    color: rgb(177, 172, 172);
}
.nav-link:hover {
    color: rgb(216, 216, 216);
}

.navbar-brand{
    background-image: url('../icons/algorithm0.png');
    background-size: 50px;
    height: 50px;
    width: 50px;
}

.navbar-nav{
    width: 40%;
}

.nav-item{
    padding-right: 2%;
    padding-left: 2%;
    font-size: 22px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: rgb(29, 24, 24);
    /*height: 1000px;*/
}

@keyframes fadeInUp {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

@keyframes fadeInLeft {
    to {
      opacity: 1;
      transform: translateX(0);
    }
}

.page-header{
    color: #7b7777;
    font-size: 26px;
    font-weight: 100;
    opacity: 0;
    transform: translateY(2rem);
    animation: fadeInUp 2s ease 0.1s forwards;
    text-align: center;
    margin: 0;
    display: block;
    float: right;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-bottom: 5%;
    box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);

}



@keyframes typing{
    from{
        opacity: 0;
    }    
    to{
        opacity: 1;
    }
}

@keyframes tick-animation{
    to {
        opacity: 1;
        transform: translateX(-4rem);
      }
}

#con0{
    margin-bottom: 10%;
}

.table-title{
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(127, 94, 41);
    opacity: 0;
    animation: fadeInUp 1s ease-out .3s forwards;
    transform: 5rem;
}

.table_header{
    margin-top: 5%;
}

tr:hover{filter: brightness(150%);}

.row-algo{
    margin-left: 2%;
    margin-right: 2%;
}
.table-algo{
    margin-top: 5%;
    border-radius: .8rem;
    background-color: rgb(44, 38, 38);
    box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
}

.bfs-algo{
    background-image: url(../images/bfs0.png);
    background-size: 100% 100%;
    cursor: pointer;
}
.dfs-algo{
    background-image: url(../images/dfs.png);
    background-size: 100% 100%;
    cursor: pointer;
}
.bisect-algo{
    background-image: url(../images/bisect0.png);
    background-size: 100% 100%;
    cursor: pointer;
}
.dijkstra-algo{
    background-image: url(../images/dijkstraimagealgo.png);
    background-size: 100% 100%;
    cursor: pointer;
}
.aStar-algo{
    background-image: url(../images/Astarimgalgo.png);
    background-size: 100% 100%;
    cursor: pointer;
}
.rowlink0{
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(198, 198, 198);
    margin-left: 2%;
    margin-right: 2%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 1%;
    text-align: center; 
    text-decoration: none;
}
.rowlink1{
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(198, 198, 198);
    margin-left: 2%;
    margin-right: 2%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 1%;
    text-align: center;
    text-decoration: none;
}
.rowlink2{
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(198, 198, 198);
    margin-left: 2%;
    margin-right: 2%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 1%;
    text-align: center;
    text-decoration: none;
}
.th-algo{
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(198, 198, 198);
    margin-left: 2%;
    margin-right: 2%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 1%;
    text-align: center;
    
}

.td-algo{
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(198, 198, 198);
    margin-left: 2%;
    margin-right: 2%;
    text-align: center
}

#algo-img{
    background-image: url(../images/algo-img.png);
    background-size: 100% 100%;
    height: 450px;
    width: 450px;
    margin-top: 10%;
    margin-bottom: 2%;
    margin-left: 5%;
    margin-right: 2%;
}

.insertionSort-algo{
    background-image: url(../images/insertionSort0.png);
    background-size: 100% 100%;
    cursor: pointer;
}

.quickSort-algo{
    background-image: url(../images/quickSort.png);
    background-size: 100% 100%;
    cursor: pointer;
}

.mergeSort-algo{
    background-image: url(../images/mergSort.png);
    background-size: 100% 100%;
    cursor: pointer;
}

/* ---------- Container for the orbiting circles animation ---------- */
#circle-orbit-container {
    position: relative;
    top: 200px;
    left: 100px;
    height: 320px;
    width: 320px;
  }
  
  /* ---------- Inner orbit - This is the circles closest to the central point ---------- */
  #inner-orbit {
    position: absolute;
    top: 75px;
    left: 75px;
    width: 150px;
    height: 150px;
    border: 2px #4A437F dashed;
    border-radius: 100%;
    -webkit-animation: spin-right 10s linear infinite;
    animation: spin-right 10s linear infinite;
  }
  
  /* ---------- Repeating styles for the inner orbiting circles ---------- */
  .inner-orbit-cirlces {
    position: absolute;
    top: 62px;
    left: -6px;
    height: 15px;
    width: 15px;
    border-radius: 100%;
    background-color: #9F98E6;
  }
  
  /* ---------- Middle orbit - This is the circles second closest to the central point ---------- */
  #middle-orbit {
    position: absolute;
    top: 35px;
    left: 35px;
    width: 225px;
    height: 225px;
    border: 2px #4A437F dashed;
    border-radius: 100%;
    -webkit-animation: spin-left 15s linear infinite;
    animation: spin-left 15s linear infinite;
  }
  
  /* ---------- Repeating styles for the inner orbiting circles ---------- */
  .middle-orbit-cirlces {
    position: absolute;
    top: 25px;
    left: 17px;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    background-color: #4A437F;
  }
  
  /* ---------- Outer orbit - This is the circles furthest away from the central point ---------- */
  #outer-orbit {
    position: absolute;
    top: 0;
    left: 0;
    width: 294px;
    height: 294px;
    border: 2px #4A437F dashed;
    border-radius: 100%;
    -webkit-animation: spin-right 20s linear infinite;
    animation: spin-right 20s linear infinite;
  }
  
  /* ---------- Repeating styles for the outer orbiting circles ---------- */
  .outer-orbit-cirlces {
    position: absolute;
    top: -17px;
    left: 125px;
    height: 30px;
    width: 30px;
    border-radius: 100%;
    background-color: #00FFCA;
  }

/* ---------- Outer orbit - This is the circles furthest away from the central point ---------- */
#inner-inner-orbit {
    position: absolute;
    top: 108px;
    left: 110px;
    width: 80px;
    height: 80px;
    border: 2px #4A437F dashed;
    border-radius: 100%;
    -webkit-animation: spin-left 5s linear infinite;
    animation: spin-left 5s linear infinite;
    }
    
    /* ---------- Repeating styles for the outer orbiting circles ---------- */
.inner-inner-orbit-cirlces {
    position: absolute;
    top: 42px;
    left: -6px;
    height: 10px;
    width: 10px;
    border-radius: 100%;
    background-color: #943909;
    }

  
  
  /* ---------- Animation ---------- */
  @keyframes spin-right {
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

  @keyframes spin-left {
    100% {
      -webkit-transform: rotate(-360deg);
      -moz-transform: rotate(-360deg);
      -ms-transform: rotate(-360deg);
      -o-transform: rotate(-360deg);
      transform: rotate(-360deg);
    }
  }



footer{  
    background-color: rgb(44, 42, 42);
    height: 120px;
}

#col-copyright{
    margin-top: 20px;
}

.copyright{
    color: rgb(122, 122, 122);
    padding-left: 5%;
    padding-bottom: 2%;
    padding-top: 10%;
    font-size: 16px;
}

#copyright{
    height: 100px;
    margin-top: 10%;
    margin-bottom: 10%;
}


@media screen and (max-width: 300px) {
    .algo-text-0{ font-size: 90%; }
    .algo-text-1{ font-size: 90%; }
    .data-structures-text-0{ font-size: 90%; }
    .solve-text-0{ font-size: 90%; }
    #row0{
        margin-bottom: 30%;
    }
}

@media screen and (min-width: 400px) {
    .table-algo{
        height: 470px;
        width: 470px;
    }
}
@media screen and (min-width: 500px) {
    .td-algo{
        font-size: 16px;
    }
    .td-algo a{
        font-size: 16px;
    }
    .algo-text-0 { font-size: 100%; }
    .algo-text-1{ font-size: 100%; }
    .data-structures-text-0{ font-size: 100%; }
    .solve-text-0{ font-size: 100%; }
    #row0{
        margin-bottom: 30%;
    }
    .table-algo{
        height: 470px;
        width: 470px;
    }
    #circle-orbit-container {
        margin-left: 0%;
    }
    #copyright{
        margin-top: 45%;
    }
    
}
@media screen and (min-width: 700px) {
    .algo-text-0 { font-size: 120%; }
    .algo-text-1{ font-size: 120%; }
    .data-structures-text-0{ font-size: 120%; }
    .solve-text-0{ font-size: 120%; }
    #row0{
        margin-bottom: 30%;
    }
    .table-algo{
        height: 500px;
        width: 560px;
    }

}

@media screen and (max-width: 766px) {
    .td-algo{
        font-size: 17px;
    }
    .td-algo a{
        font-size: 17px;
    }
    #algorithms{
        margin-left: 25%;
        margin-bottom: 5%;
    }
    #data-structures{
        margin-left: 25%;
        margin-bottom: 5%;
    }
    #solveproblems{
        margin-left: 25%;
        margin-bottom: 5%;
    }
    #row0{
        margin-bottom: 30%;
    }
    #row1{
        margin-bottom: 30%;
    }
}

@media screen and (min-width: 770px) {
    #row0{
        margin-bottom: 0%;
    }
    .table-algo{
        height: 700px;
        width: 670px;
    }
    #copyright{
        margin-top: 35%;
    }

}

@media screen and (min-width: 992px) {
    #copyright{
        margin-top: 30%;
    }
}

@media screen and (min-width: 1100px){
    .td-algo{
        font-size: 18px;
    }
    .td-algo a{
        font-size: 18px;
    }
    #copyright{
        margin-top: 25%;
    }
}

@media screen and (min-width: 1200px) {
    .algo-text-0 { font-size: 150%; }
    .algo-text-1{ font-size: 150%; }
    .data-structures-text-0{ font-size: 150%; }
    .solve-text-0{ font-size: 150%; }
    #row0{
        margin-bottom: 0%;
    }
    #circle-orbit-container {
        margin-left: -5%;
    }

}

@media screen and (min-width:1280){
    #circle-orbit-container {
        margin-left: 10%;
    }
}

@media screen and (min-width: 1390px) {
    #circle-orbit-container {
        margin-left: 20%;
    }
    #copyright{
        margin-top: 20%;
    }
}
