<!doctype html>
<html>
    <head>
        <title>E-Learning</title>
        <link rel="shortcut icon" type="x-icon" href="../static/images/neural.png">
        <meta name="description" content="AlgoMaster">
        <meta name="keywords" content="AlgoMaster">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link href="../static/css/bfs.css" rel="stylesheet" type="text/css">
        <script src="../static/javascript/jquery.js"></script>
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-md">
                <div class="container">
                    <a href="http://127.0.0.1:5000/home" class="navbar-brand"></a>
                    <button class="navbar-toggler navbar-light" data-bs-toggle="collapse" data-bs-target="#nav" aria-controls="nav" aria-label="Expand Navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="nav">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a href="http://127.0.0.1:5000/home" class="nav-link active" aria-current="page">Home</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link active" aria-current="page">About</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link active" aria-current="page">Contact</a>
                            </li>
                            {% if not user.is_authenticated %}
                                <li class="nav-item">
                                    <a href="http://127.0.0.1:5000/login" class="nav-link active" aria-current="page">Login</a>
                                </li>
                            {% else %}
                                <li class="nav-item">
                                    <a href="http://127.0.0.1:5000/logout" class="nav-link active" aria-current="page">Logout</a>
                                </li>
                                <li class="nav-item">
                                    <a href="http://127.0.0.1:5000/profile" class="nav-link active" aria-current="page">Profile</a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        <main>
            <div class="container">
                <div class="row">
                    <div class="col-md col-xs">
                        <h2 class="page-header">Breath first search</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <p class="par0">
                            Breadth-First Search (BFS) is a graph traversal algorithm used to explore and search through graphs and trees. It is called "breadth-first" because it explores all the vertices at the current level before moving on to the next level. BFS is often used to find the shortest path between two nodes in an unweighted graph or to visit all the nodes in a connected component of a graph.

    Here is an explanation of the BFS algorithm:
                        </p>

                        <h4>1. Initialization</h4>
                        <ul>
                            <li class="par1">Choose a starting node as the initial node.</li>
                            <li class="par1">Create a queue (FIFO data structure) and enqueue the starting node.</li>
                            <li class="par1">Create a set or array to keep track of visited nodes to avoid revisiting them.</li>
                            <li class="par1">Initialize any data structures or variables needed to track the search process or to store the result.</li>
                        </ul>
                        <h4>2. Exploration</h4>
                        <ul>
                            <li class="par1">While the queue is not empty:</li>
                            <li class="par2">Dequeue a node from the front of the queue.</li>
                            <li class="par2">If this node is the target node you're searching for, you're done (e.g., if you're searching for a path, you can reconstruct it at this point).</li>
                            <li class="par2">Otherwise, mark the node as visited.</li>
                            <li class="par2">Enqueue all the unvisited neighboring nodes of the current node.</li>
                        </ul>
                        <p class="par0">
                            BFS explores nodes level by level, which means it first explores all the nodes at a given distance (level) from the start node before moving to nodes that are farther away. This property makes BFS particularly useful for finding the shortest path in unweighted graphs, as the first occurrence of the target node guarantees the shortest path.
                        </p>
                        <h4>3. Termination</h4>
                        <ul>
                            <li class="par1">If the queue becomes empty and the target node has not been found, this means there is no path to the target node from the starting node (in an unweighted graph). In such cases, the search can be considered complete.</li>
                        </ul>
                        <li class="infoHowtoUse">Every cell from the grid below represents a node which is connected to the node next to itself up, down, left, right. You can set a point to start, a target and even obstacles to visualize the BFS algorithm and its use in search path algorithms. </li>
                    </div>
                    <div class="col-md-2 col-xs-8">
                        <div class="bfsimgcode">
                        </div>
                    </div>

                    <div class="col-md">
                        <div class="bfs-img">
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="container" id="container-buttons">
                <div class="row" id="row-button">
                    <div class="col-md-12 col-sm col-xs">
                        <ul class="button-list">
                            <button class="bfs-button" id="button-start">Visualize</button>
                            <button class="bfs-button" id="button-obstacles" style="animation-delay:0.07s">Walls</button>
                            <button class="bfs-button" id="button-startpoint" style="animation-delay:0.14s">Start</button>
                            <button class="bfs-button" id="button-searchpoint" style="animation-delay:0.14s">Finish</button>
                            <button class="bfs-button" id="button-clear" style="animation-delay:0.21s">Clear</button>
                            <div class="maze-dropdown">
                                <button class="maze-button" id="button-maze" style="animation-delay:0.21s">Maze</button>
                                <div class="dropdown-content">
                                <button id="button-random-maze">Random Maze</button>
                                <button id="button-recursiveD-maze">Recursive Divison Maze</button>
                                </div>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row" id="row-grid-container">
                    <div class="col-md-5 col-xs-3">
                        <div class="grid-container" id="grid-container"></div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <h4>Time Complexity</h4>
                        <ul>
                            <li class="par1">
                                In the worst case, BFS visits every vertex and every edge once, as it explores the graph level by level.
                            </li>
                            <li class="par1">
                                The time complexity of BFS is usually expressed as O(V + E), where V is the number of vertices and E is the number of edges in the graph.
                            </li>
                            <li class="par1">
                                Each vertex is enqueued and dequeued once, and each edge is examined once.
                            </li>
                        </ul>
                        <h4>Space Complexity (Memory)</h4>
                        <ul>
                            <li class="par1">
                                The space complexity is determined by the data structures used to implement the algorithm.
                            </li>
                            <li class="par1">
                                In the case of BFS, a queue is typically used to keep track of the vertices to be visited next.
                            </li>
                            <li class="par1">
                                The space complexity of BFS is O(V) for the queue data structure.
                            </li>
                        </ul>
                        <p class="par1">
                            It's important to note that these complexities may vary slightly based on the specific implementation details, and if the graph is dense (many edges) or sparse (few edges), the relative contributions of the terms V and E in the time complexity may differ. Additionally, if the graph is represented using an adjacency matrix instead of an adjacency list, the space complexity may be O(V^2) due to the need to store the entire matrix.
                        </p>
                        <p class="par1">In summary:</p>
                        <ul>
                            <li class="par1">Time Complexity: O(V + E)</li>
                            <li class="par1">Space Complexity: O(V)</li>
                        </ul>
                    </div>
                </div>
            </div>
        </main>

        <footer>
            <div class="container">
                <div class="row" id="copyright">
                    <div class="col" id="col-copyright">
                        <span class="copyright">Copyright &copy; 2024 AlgoMaster</span>
                    </div>
                </div>
            </div>
        </footer>

        <script src="../static/javascript/bfs.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </body>
</html>