<!doctype html>
<html>
    <head>
        <title>E-Learning</title>
        <link rel="shortcut icon" type="x-icon" href="../static/images/neural.png">
        <meta name="description" content="AlgoMaster">
        <meta name="keywords" content="AlgoMaster">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link href="../static/css/dfs.css" rel="stylesheet" type="text/css">
        <script src="../static/javascript/jquery.js"></script>
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-md">
                <div class="container">
                    <a href="http://127.0.0.1:5000/home" class="navbar-brand"></a>
                    <button class="navbar-toggler navbar-light" data-bs-toggle="collapse" data-bs-target="#nav" aria-controls="nav" aria-label="Expand Navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="nav">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a href="http://127.0.0.1:5000/home" class="nav-link active" aria-current="page">Home</a>
                            </li>
                            <li class="nav-item">
                                <a href="http://127.0.0.1:5000/about" class="nav-link active" aria-current="page">About</a>
                            </li>
                            <li class="nav-item">
                                <a href="http://127.0.0.1:5000/contact" class="nav-link active" aria-current="page">Contact</a>
                            </li>
                            {% if not user.is_authenticated %}
                                <li class="nav-item">
                                    <a href="http://127.0.0.1:5000/login" class="nav-link active" aria-current="page">Login</a>
                                </li>
                            {% else %}
                                <li class="nav-item">
                                    <a href="http://127.0.0.1:5000/logout" class="nav-link active" aria-current="page">Logout</a>
                                </li>
                                <li class="nav-item">
                                    <a href="http://127.0.0.1:5000/profile" class="nav-link active" aria-current="page">Profile</a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        <main>
            <div class="container">
                <div class="row">
                    <div class="col-md col-xs">
                        <h2 class="page-header">Depth first search</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <p class="par0">
                            
    Depth-First Search (DFS) is an algorithm used to traverse or search through a graph or tree data structure. It explores as far as possible along each branch before backtracking. DFS can be implemented using recursion or a stack data structure. It's often used to find paths, connected components, and cycles in a graph.
                        </p>
                        <h4>Here's how DFS works</h4>
        
                        <ul>
                            <li class="par1">Start at an initial node or vertex in the graph. This is the root of your search.</li>
                            <li class="par1">Mark the node as visited to avoid revisiting it.</li>
                            <li class="par1">Explore each unvisited adjacent node or neighbor of the current node. To do this, you can use a recursive function or a stack.</li>
                            <li class="par1">If you encounter an unvisited neighbor, visit it and repeat the process (recursively or by using a stack). This means you continue down the branch as far as possible before backtracking.</li>
                            <li class="par1">When you reach a node with no unvisited neighbors, backtrack to the previous node and continue the process until you have visited all nodes in the graph.</li>
                            <li class="par1">In this example, the dfs function starts at node 'A' and explores its neighbors, marking visited nodes and backtracking when there are no unvisited neighbors. The order in which nodes are visited depends on the specific structure of the graph and the starting node.</li>
                        </ul>
                        <h4>Usage of DFS</h4>
                        <p class="par0">
                            DFS is used in various applications, including finding connected components in a graph, determining if a path or cycle exists, and solving maze problems, among others. It's a fundamental algorithm in graph theory and computer science.
                        </p>
                        <li class="infoHowtoUse">Every cell from the grid below represents a node which is connected to the node next to itself up, down, left, right. You can set a point to start, a target and even obstacles to visualize the DFS algorithm and its use in search path algorithms. </li>
                    </div>
                    <div class="col-md-2 col-xs-8">
                        <div class="dfsimgcode">
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="container" id="container-buttons">
                <div class="row" id="row-button">
                    <div class="col-md-12 col-xs-6">
                        <ul class="button-list">
                            <button class="dfs-button" id="button-start">Visualize</button>
                            <button class="dfs-button" id="button-obstacles" style="animation-delay:0.07s">Walls</button>
                            <button class="dfs-button" id="button-startpoint" style="animation-delay:0.14s">Start</button>
                            <button class="dfs-button" id="button-searchpoint" style="animation-delay:0.14s">Finish</button>
                            <button class="dfs-button" id="button-clear" style="animation-delay:0.21s">Clear</button>
                            <div class="maze-dropdown">
                                <button class="maze-button" id="button-maze" style="animation-delay:0.21s">Maze</button>
                                <div class="dropdown-content">
                                    <button id="button-random-maze">Random Maze</button>
                                    <button id="button-recursiveD-maze">Recursive Divison Maze</button>
                                </div>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row" id="row-grid-container">
                    <div class="col-md-5 col-xs-3">
                        <div class="grid-container" id="grid-container"></div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <h4>Time complexity</h4>
                        <ul>
                            <li class="par1">In the worst case, DFS may visit every vertex and edge, exploring as deeply as possible along each branch before backtracking.</li>
                            <li class="par1">The time complexity of DFS is usually expressed as O(V + E), where V is the number of vertices and E is the number of edges in the graph.</li>
                            <li class="par1">Each vertex is visited once, and each edge is examined once.</li>
                        </ul>
                        <h4>Space Complexity (Memory)</h4>
                        <ul>
                            <li class="par1">The space complexity is determined by the data structures used to implement the algorithm.</li>
                            <li class="par1">In DFS, a stack is often used to keep track of the vertices to be explored.</li>
                            <li class="par1">The space complexity of DFS is O(V) for the stack data structure due to the recursion or explicit stack usage.</li>
                            <li class="par1">In the case of recursion, the maximum depth of the recursion stack is the height of the recursion tree, which is the length of the longest path in the graph.</li>
                        </ul>
                        <p class="par1">
                            It's important to note that the space complexity of DFS can be affected by the use of an additional data structure to keep track of visited vertices, which is often implemented using a boolean array or a hash set. This would add an additional O(V) space to the overall complexity.
                        </p>
                        <p class="par1">In summary:</p>
                        <ul>
                            <li class="par1">Time Complexity: O(V + E)</li>
                            <li class="par1">Space Complexity: O(V)</li>
                        </ul>
                    </div>
                </div>
            </div>
        </main>

        <footer>
            <div class="container">
                <div class="row" id="copyright">
                    <div class="col" id="col-copyright">
                        <span class="copyright">Copyright &copy; 2024 AlgoMaster</span>
                    </div>
                </div>
            </div>
        </footer>

        <script src="../static/javascript/dfs.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </body>
</html>