<!doctype html>
<html>
    <head>
        <title>E-Learning</title>
        <link rel="shortcut icon" type="x-icon" href="../static/images/neural.png">
        <meta name="description" content="AlgoMaster">
        <meta name="keywords" content="AlgoMaster">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link href="../static/css/problemTemplate.css" rel="stylesheet" type="text/css">
        <link href="../static/codemirror-5.65.16/lib/codemirror.css" rel="stylesheet" type="text/css">
        <link href="../static/codemirror-5.65.16/theme/darcula.css" rel="stylesheet" type="text/css">
        <link href="../static/codemirror-5.65.16/theme/dracula.css" rel="stylesheet" type="text/css">
        <link href="../static/codemirror-5.65.16/theme/paraiso-dark.css" rel="stylesheet" type="text/css">

        <link href="../static/codemirror-5.65.16/theme/ambiance.css" rel="stylesheet" type="text/css">
        <link href="../static/codemirror-5.65.16/theme/duotone-dark.css" rel="stylesheet" type="text/css">
        <link href="../static/codemirror-5.65.16/theme/monokai.css" rel="stylesheet" type="text/css">

        <script src="../static/codemirror-5.65.16/lib/codemirror.js"></script>
        <script src="../static/javascript/jquery.js"></script>
        <script src="../static/codemirror-5.65.16/mode/clike/clike.js"></script>
        <script src="../static/codemirror-5.65.16/addon/edit/closebrackets.js"></script>
        <script src="../static/codemirror-5.65.16/addon/edit/closetag.js"></script>
        <script src="../static/codemirror-5.65.16/addon/edit/continuelist.js"></script>
        <script src="../static/codemirror-5.65.16/addon/edit/matchbrackets.js"></script>
        <script src="../static/codemirror-5.65.16/addon/edit/matchtags.js"></script>
        <script src="../static/codemirror-5.65.16/addon/edit/trailingspace.js"></script>
        <script src="../static/codemirror-5.65.16/mode/python/python.js"></script>
        <script src="../static/codemirror-5.65.16/mode/javascript/javascript.js"></script>

        
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand">
                <div class="container" id="navbar-container">
                    <a href="http://127.0.0.1:5000/home" class="navbar-brand"></a>
                    <button class="navbar-toggler navbar-light" data-bs-toggle="collapse" data-bs-target="#nav" aria-controls="nav" aria-label="Expand Navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="nav">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a href="http://127.0.0.1:5000/home" class="nav-link active" aria-current="page">Home</a>
                            </li>
                            <li class="nav-item">
                                <a href="http://127.0.0.1:5000/about" class="nav-link active" aria-current="page">About</a>
                            </li>
                            <li class="nav-item">
                                <a href="http://127.0.0.1:5000/contact" class="nav-link active" aria-current="page">Contact</a>
                            </li>
                            {% if not user.is_authenticated %}
                                <li class="nav-item">
                                    <a href="http://127.0.0.1:5000/login" class="nav-link active" aria-current="page">Login</a>
                                </li>
                            {% else %}
                                <li class="nav-item">
                                    <a href="http://127.0.0.1:5000/logout" class="nav-link active" aria-current="page">Logout</a>
                                </li>
                                <li class="nav-item">
                                    <a href="http://127.0.0.1:5000/profile" class="nav-link active" aria-current="page">Profile</a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        <main>
            <div class="container-fluid" id="wrapper">
                <div class="row flex-nowrap" id="firstRow">
                    <!--prevent bootsrap columns from stacking each other  class="row flex-nowrap"-->
                    <div class="col-4" id="leftside">
                        <div class="titleStatementWrapper">
                            <p class="titleStatement">{{ current_problem.name }}</p>
                        </div>
                        <div class="textStatementWrapper">
                            <p class="generalTextStatement">
                                {{ statement | safe }}
                            </p>
                        </div>
                        <div class="examples">
                            <div class="textExample0">
                                <div class="verticalLine"></div>
                                <div class="textExampleWrapper0">
                                    <p class="text0">Example 1:</p>
                                    <p class="text0">Input: <span class="generalTextStatement">{{ example_dict["input0"] }}</span></p>
                                    <p class="text0">Output: <span class="generalTextStatement">{{ example_dict["output0"] }}</span></p>
                                    {% if example_dict["explanation0"] %}
                                        <p class="text0">Explanation: <span class="generalTextStatement">{{ example_dict["explanation0"] }}</span></p>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="textExample1">
                                <div class="verticalLine"></div>
                                <div class="textExampleWrapper1">
                                    <p class="text0">Example 2:</p>
                                    <p class="text0">Input: <span class="generalTextStatement">{{ example_dict["input1"] }}</span></p>
                                    <p class="text0">Output: <span class="generalTextStatement">{{ example_dict["output1"] }}</span></p>
                                    {% if example_dict["explanation1"] %}
                                        <p class="text0">Explanation: <span class="generalTextStatement">{{ example_dict["explanation1"] }}</span></p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="features">
                            <div class="AI-solution">
                                <button type="button" class="btn btn-dark btn-sm" id="button-solution">AI Solution</button>
                                <div class="AI-solution-animation" id="solution-animation">
                                </div>
                            </div>
                            <div class="AI-hint">
                                <button type="button" class="btn btn-dark btn-sm" id="button-hint">AI Hint</button>
                                <div class="AI-hint-animation" id="hint-animation">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-1" id="col-middle-bar">
                        <div class="middle-bar">

                        </div>
                    </div>
        
                    <div class="col-7" id="rightside">
                        <div class="container">
                            <div class="row m-3">
                                <div class="col">
                                    <div class="d-flex justify-content-between mb-2 bg-dark rounded p-2">
                                        <div class="col-4 w-25">
                                            <label class="visually-hidden" for="inlineFormSelectPref0">Preference</label>
                                            <select class="form-select" id="inlineFormSelectPref0">
                                                <option hidden selected>Languages</option>
                                                <option value="Python">Python</option>
                                                <option value="None">None</option>
                                            </select>
                                        </div>
                                        <div class="col-4 w-25">
                                            <label class="visually-hidden" for="inlineFormSelectPref1">Preference</label>
                                            <select class="form-select" id="inlineFormSelectPref1">
                                                <option hidden selected>Theme</option>
                                                <option value="ambiance">ambiance</option>
                                                <option value="darcula">darcula</option>
                                                <option value="monokai">monokai</option>
                                            </select>
                                        </div>
                                        <div class="col-4 w-25">
                                            <label class="visually-hidden" for="inlineFormSelectPref2">Preference</label>
                                            <select class="form-select" id="inlineFormSelectPref2">
                                                <option hidden selected>Font size</option>
                                                <option value="22px">22px</option>
                                                <option value="20px">20px</option>
                                                <option value="18px">18px</option>
                                                <option value="16px">16px</option>
                                            </select>
                                        </div>
                                        <!--div>
                                            <button type="button" class="btn btn-success">Coding Sprint</button>
                                            <button type="button" id="run" class="btn btn-success"><i class="bi bi-play-fill"></i></button>
                                        </div-->
                                    </div>
                                    <textarea type="text" id="editor" class="form-control" aria-label="First name"></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="container" id="container-case">
                            <div class="container-case-wrapper">
                                <div class="row" id="case-title-row">
                                    <div class="col" id="case0-title-col">
                                        <p class="case-text">Case 1</p>
                                    </div>
                                    <div class="col-3" >
                                        <div class="lds-dual-ring"></div>
                                        <div id="case-passed1"></div>
                                        <div id="case-failed1"></div>
                                    </div>
                                </div>
                                <div class="row" id="case-row0">
                                    <div class="col-2" >
                                        <p class="input-text">Input </p>
                                    </div>
                                    <div class="col" >
                                        <p class="input-text-db">{{ example_dict["input0"] }}</p>
                                    </div>
                                </div>
                                <div class="line0"></div>
                                <div class="row" id="case-row1">
                                    <div class="col-2" >
                                        <p class="output-text">Output</p>
                                    </div>
                                    <div class="col" >
                                        <p class="output-text-db">{{ example_dict["output0"] }}</p>
                                    </div>
                                </div>
                                <div class="line0"></div>
                                <div class="row" id="case-row2">
                                    <div class="col-2" >
                                        <p class="output-text">Answer</p>
                                    </div>
                                    <div class="col" >
                                        <p class="output-text-db" id="case-answer1"></p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="container" id="container-case">
                            <div class="container-case-wrapper">
                                <div class="row" id="case-title-row">
                                    <div class="col" id="case1-title-col">
                                        <p class="case-text">Case 2</p>
                                    </div>
                                    <div class="col-3" >
                                        <div class="lds-dual-ring"></div>
                                        <div id="case-passed2"></div>
                                        <div id="case-failed2"></div>
                                    </div>
                                </div>
                                <div class="row" id="case-row3">
                                    <div class="col-2" >
                                        <p class="input-text">Input </p>
                                    </div>
                                    <div class="col" >
                                        <p class="input-text-db">{{ example_dict["input1"] }}</p>
                                    </div>
                                </div>
                                <div class="line1"></div>
                                <div class="row" id="case-row4">
                                    <div class="col-2" >
                                        <p class="output-text">Output</p>
                                    </div>
                                    <div class="col" >
                                        <p class="output-text-db">{{ example_dict["output1"] }}</p>
                                    </div>
                                </div>
                                <div class="line1"></div>
                                <div class="row" id="case-row5">
                                    <div class="col-2" >
                                        <p class="output-text">Answer</p>
                                    </div>
                                    <div class="col" >
                                        <p class="output-text-db" id="case-answer2"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="container" id="case-buttons">
                            <div class="row" id="case-row-buttons">
                                <div class="col" id="col-run">
                                    <button type="button" class="btn btn-dark btn-sm" id="case-run-button">
                                        <div class="case-run-button-img"></div>
                                        <p class="case-run-button-text">Run cases</p>
                                    </button>
                                    
                                </div>
                                <div class="col" id="col-submit">
                                    <button type="button" class="btn btn-success btn-sm" id="case-submit-button">
                                        <div class="case-submit-button-img"></div>
                                        <p class="case-submit-button-text">Submit</p>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="container">
                            <div class="wrapper-output-stdout">
                                <div class="row">
                                    <div class="col" id="output_stdout_title">
                                        <p class="text-stdout-title" id="text-stdout-title-content">Stdout</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col" id="output_stdout">
                                        <p class="text-stdout" id="output_stdout_content"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <footer>
            <div class="container">
                <div class="row" id="copyright">
                    <div class="col" id="col-copyright">
                        <span class="copyright">Copyright &copy; 2024 AlgoMaster</span>
                    </div>
                </div>
            </div>
        </footer>
        <script src="../static/javascript/problemTemplate.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </body>
</html>