<!doctype html>
<html>
    <head>
        <title>E-Learning</title>
        <link rel="shortcut icon" type="x-icon" href="../static/images/neural.png">
        <meta name="description" content="AlgoMaster">
        <meta name="keywords" content="AlgoMaster">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link href="../static/css/rankings.css" rel="stylesheet" type="text/css">
        <script src="../static/javascript/jquery.js"></script>
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-md">
                <div class="container">
                    <a href="http://127.0.0.1:5000/home" class="navbar-brand"></a>
                    <button class="navbar-toggler navbar-light" data-bs-toggle="collapse" data-bs-target="#nav" aria-controls="nav" aria-label="Expand Navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="nav">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a href="http://127.0.0.1:5000/home" class="nav-link active" aria-current="page">Home</a>
                            </li>
                            <li class="nav-item">
                                <a href="http://127.0.0.1:5000/about" class="nav-link active" aria-current="page">About</a>
                            </li>
                            <li class="nav-item">
                                <a href="http://127.0.0.1:5000/contact" class="nav-link active" aria-current="page">Contact</a>
                            </li>
                            {% if not user.is_authenticated %}
                                <li class="nav-item">
                                    <a href="http://127.0.0.1:5000/login" class="nav-link active" aria-current="page">Login</a>
                                </li>
                            {% else %}
                                <li class="nav-item">
                                    <a href="http://127.0.0.1:5000/logout" class="nav-link active" aria-current="page">Logout</a>
                                </li>
                                <li class="nav-item">
                                    <a href="http://127.0.0.1:5000/profile" class="nav-link active" aria-current="page">Profile</a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        <main>
            <div class="container" id="container-table">
                <div class="col-lg-12">
                    <table class="table table-sm table-striped table-hover" id="table-problems">
                        <thead class="thead-light">
                            <tr scope="row" >
                                <th scope="col" class="td-head-table-light">Rank</th>
                                <th scope="col" class="td-head-table-light">User</th>
                                <th scope="col" class="td-head-table-light">Points</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!--tr scope="row" class="tr-table-light">
                                <td scope="col" class="td-table-light"><div class="icon-check"></div></td>
                                <td scope="col" class="td-table-light">1</td>
                                <td scope="col" class="td-table-light"><a href="#" ><div class="problem-name">Check palindrom</div></a></td>
                                <td scope="col" class="td-table-light">70%</td>
                                <td scope="col" class="td-table-light"><a href="#"><div class="icon-solution"></div></a></td>
                                <td scope="col" class="td-table-light"><div class="difficulty-status-easy">Easy</div></td>
                            </tr>
                            <tr scope="row" class="tr-table-dark">
                                <td scope="col" class="td-table-light"><div class="icon-half"></div></td>
                                <td scope="col" class="td-table-light">2</td>
                                <td scope="col" class="td-table-light"><a href="#" ><div class="problem-name">Longest increasing subbarray</div></a></td>
                                <td scope="col" class="td-table-light">40%</td>
                                <td scope="col" class="td-table-light"><a href="#"><div class="icon-solution"></div></a></td>
                                <td scope="col" class="td-table-light"><div class="difficulty-status-medium">Medium</div></td>
                            </tr>
                            <tr scope="row" class="tr-table-light">
                                <td scope="col" class="td-table-light"></td>
                                <td scope="col" class="td-table-light">3</td>
                                <td scope="col" class="td-table-light"><a href="#" >Count islands</a></td>
                                <td scope="col" class="td-table-light">42%</td>
                                <td scope="col" class="td-table-light">Solution icon</td>
                                <td scope="col" class="td-table-light">Medium</td>
                            </tr>
                            <tr scope="row" class="tr-table-dark">
                                <td scope="col" class="td-table-light">Yes</td>
                                <td scope="col" class="td-table-light">4</td>
                                <td scope="col" class="td-table-light"><a href="#" >Maximum tree branch sum</a></td>
                                <td scope="col" class="td-table-light">46%</td>
                                <td scope="col" class="td-table-light">Solution icon</td>
                                <td scope="col" class="td-table-light">Medium</td>
                            </tr-->
                            
                            {% for user_info in users_info %}
                                {% if user_info[0] % 2 == 1 %}
                                    <tr scope="row" class="tr-table-light">
                                        <td scope="col" class="td-table-light"><h3>{{ user_info[0] }}</h3></td>
                                        {% if user_info[0] == 1 %}
                                            <td scope="col" class="td-table-light"><p class="user_name">{{ user_info[1] }}</p></td>
                                        {% elif user_info[0] == 2 %}
                                            <td scope="col" class="td-table-light"><p class="user_name">{{ user_info[1] }}</p></td>
                                        {% elif user_info[0] == 3 %}
                                            <td scope="col" class="td-table-light"><p class="user_name">{{ user_info[1] }}</p></td>
                                        {% else %}
                                            <td scope="col" class="td-table-light"><p class="user_name">{{ user_info[1] }}</p></td>
                                        {% endif %}
                                        <td scope="col" class="td-table-light"><h3>{{ user_info[2] }}</h3></td>
                                    </tr>
                                {% else %}
                                    <tr scope="row" class="tr-table-dark">
                                        <td scope="col" class="td-table-light"><h3>{{ user_info[0] }}</h3></td>
                                        {% if user_info[0] == 1 %}
                                            <td scope="col" class="td-table-light"><p class="user_name">{{ user_info[1] }}</p></td>
                                        {% elif user_info[0] == 2 %}
                                            <td scope="col" class="td-table-light"><p class="user_name">{{ user_info[1] }}</p></td>
                                        {% elif user_info[0] == 3 %}
                                            <td scope="col" class="td-table-light"><p class="user_name">{{ user_info[1] }}</p></td>
                                        {% else %}
                                            <td scope="col" class="td-table-light"><p class="user_name">{{ user_info[1] }}</p></td>
                                        {% endif %}
                                        <td scope="col" class="td-table-light"><h3>{{ user_info[2] }}</h3></td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </main>

        <footer>
            <div class="container">
                <div class="row" id="copyright">
                    <div class="col" id="col-copyright">
                        <span class="copyright">Copyright &copy; 2024 AlgoMaster</span>
                    </div>
                </div>
            </div>
        </footer>
        
        <script></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </body>
</html>